.nav-wrapper {
    background-color:green;
}

a#save {
    margin-left: 10px;
}

.card-action a {
    color: black;
}
body {
    background-image: url("../images/stardust.png");
}

.delete-button {
    margin-left: 10px;
}
